weather-services/src/main/mule/weather-services-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="weather-services-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="weather-services-api-config" api="weather-services-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="5a0024a5-343d-4b04-b64b-f9c4453d4e32">
        <wsc:connection wsdlLocation="http://localhost:8080/GlobalWeather?wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" />
    </wsc:config>
    <wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="00c123c6-193c-4ab6-9abf-b486faff5fb1">
        <wsc:connection wsdlLocation="http://localhost:8080/GlobalWeather?wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" />
    </wsc:config>
    <flow name="weather-services-api-main">
        <http:listener config-ref="weather-services-api-httpListenerConfig" path="/api/weather/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-services-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="weather-services-api-console">
        <http:listener config-ref="weather-services-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-services-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\cities:weather-services-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Country name is mandatory"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\city:weather-services-api-config">
		<ee:transform doc:id="86b1af76-c017-40b3-9eea-2060d7089889">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: attributes.queryParams.city,
		ns0#CountryName: attributes.queryParams.country
	}
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="city"><![CDATA[attributes.uriParams.'city']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="e98fd064-da0c-4200-8a51-dcaca9fd0be3" config-ref="Web_Service_Consumer_Config" operation="GetWeather" />
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8a494acb-ecdd-4b4b-a3bd-b94302f1285b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
ns ns0 http://www.webserviceX.NET
---
payload.body.ns0#GetWeatherResponse replace "&lt;"  with('<') replace "&gt;"  with('>') replace "\n" with ('')]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-payload value="#[payload replace  &quot;&lt;![CDATA[&quot; with (&quot;&quot;) replace &quot;]]&gt;&quot; with (&quot;&quot;)]" doc:name="Set Payload" doc:id="e715e2f1-aa58-4f81-940e-4b1230ad234f" mimeType="application/xml" />
		<ee:transform doc:name="Transform Message" doc:id="9853c4b4-833c-4a27-9f1a-dae5f74226d0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	location: payload.NewDataSet.Location,
	time: payload.NewDataSet.Time,
	wind: payload.NewDataSet.Wind,
	visibility: payload.NewDataSet.Visibility,
	"sky-conditions": payload.NewDataSet.SkyConditions,
	temperature: payload.NewDataSet.Temperature,
	dew: payload.NewDataSet.DewPoint,
	humidity: payload.NewDataSet.RelativeHumidity,
	status: payload.NewDataSet.Status
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cities\(country):weather-services-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="e7a25108-d6f1-4e89-99a2-571e59164358" message="Cities List Invoked" />
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d0bb97a5-bd5e-4440-a9c1-09e79cdd9431">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: attributes.uriParams.country
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume operation="GetCitiesByCountry" doc:name="Consume" doc:id="e7ccf546-f413-4195-8c29-ce3e2dcff294" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="865211c1-978e-44e2-baa2-0d55ad77a030">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
ns ns0 http://www.webserviceX.NET
---
payload.body.ns0#GetCitiesByCountryResponse replace "&lt;"  with('<') replace "&gt;"  with('>') replace "\n" with ('')]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4c77a531-c6bf-4a1d-b953-9ea87bff6cd6" mimeType="application/xml" />
		<ee:transform doc:name="Transform Message" doc:id="c08a222b-577f-437d-b82e-67cfe9f6a4f9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.NewDataSet.*Table map ( table , indexOfTable ) -> {
	Country: table.Country default "",
	City: table.City default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
